<app-header></app-header>
<div class="container">
  <h1 class="display-1">Task Creator</h1>

  <div class="mt-5">
      <form>
        <div class="mb-3">
          <div class="form-group">
            <label for="name">Task Name:</label>
            <input  [(ngModel)]="task.name" name="name" type="text" class="form-control" id="name" placeholder="Name.."/>

          </div>
        </div>

        <div class="mb-3">
          <div class="form-group">
            <label for="description">Task Description:</label>
            <input [(ngModel)]="task.description" name="description" type="text" class="form-control" id="description" placeholder="Description.."/>
          </div>
        </div>

        <div clasS="mb-3">
          <div class="form-group">
            <label for="started">Task Started:</label>
            <input [(ngModel)]="task.started" type="date" name="name" class="form-control" id="started" placeholder="Starting Date.."/>
          </div>
        </div>

        <div class="mb-3">
          <div class="form-group">
            <label for="ended">Task Ended: </label>
            <input [(ngModel)]="task.ended" type="date" name="name" class="form-control" id="ended" placeholder="Ending Date.."/>
          </div>
        </div>

        <div class="mb-3">
          <div class="form-group">
            <label for="category">Task Importance:</label>
            <select class="form-control" id="category" [(ngModel)]="task.category" name="category">
                <option *ngFor="let category of categories" >{{category}}</option>
            </select>

          </div>
        </div>

        <div class="mt-5">
          <button class="btn btn-success" (click)="saveTask()">Logger</button>
        </div>

      </form>
  </div>

</div>
