<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/task">Todo List</a>
</nav>

<div class="container">
  <div class="display-1 mt-5" style="text-align: center">
    <h1>Login!</h1>
  </div>

  <div class="mt-5">
    <form>
      <div class="mt-5 mb-2">
        <label for="user">User:</label>

      </div>

      <div class="mb-3">
        <input id="user" class="form-control"/>
      </div>


      <div class="mt-4 mb-2">
        <label for="group">Group:</label>
      </div>

      <div class="mb-4">
        <input id="group" class="form-control"/>
      </div>

      <div class="mb-5 mt-3">
        <button class="btn btn-primary">Login!</button>
      </div>
    </form>
  </div>


</div>
